<div class="p-3" [ngClass]="{'landscape': landscape}">
  @if (isMobile) {
    <div class="flex flex-wrap content">
      <button class="count-board-content bg-orange-950" (click)="plusScore1()">
        {{score1()}}
        @if(showMinus) {
          <button class="minus-btn" (click)="minusScore1($event)">minus</button>
        }
      </button>
      <button class="count-board-content bg-green-950" (click)="plusScore2()">
        {{score2()}}
        @if(showMinus) {
          <button class="minus-btn" (click)="minusScore2($event)">minus</button>
        }
      </button>
    </div>

    <button class="function-btn" (click)="resetScore()">歸零</button>
    <button class="function-btn" (click)="showMinus = !showMinus">-1</button>
  }
</div>

@if (!isMobile) {
  <div class="flex content">
      <button class="count-board-content bg-orange-950" (click)="plusScore1()">
        {{score1()}}
        @if(showMinus) {
          <button class="minus-btn" (click)="minusScore1($event)">minus</button>
        }
      </button>
      <button class="count-board-content bg-green-950" (click)="plusScore2()">
        {{score2()}}
        @if(showMinus) {
          <button class="minus-btn" (click)="minusScore2($event)">minus</button>
        }
      </button>
    </div>

    <button class="function-btn" (click)="resetScore()">歸零</button>
    <button class="function-btn" (click)="showMinus = !showMinus">-1</button>
}
