.content {
  min-height: calc(100vh - 1.5rem);
}

:not(.landscape) {
  .count-board-content {
    @apply w-full
  }
  .count-board-content + .count-board-content {
    @apply ml-0
  }
}

.count-board-content {
  @apply text-center text-gray-50 rounded relative font-bold;
  font-size: 200px;
}

.minus-btn {
  @apply text-2xl bg-orange-700 py-2 px-4 rounded absolute bottom-2 left-1/2;
  transform: translateX(-50%);
}

.function-btn {
  @apply bg-orange-700 text-white py-2 px-4 rounded mt-3;
  & + & {
    @apply ml-3
  }
}

.landscape {
  .count-board-content {
    @apply w-3/6
  }
}
